* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    /* background-color: rgba(253, 253, 253, 0.603); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: grid;
    margin: 0 auto;
    
   
}

h2{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
}
.central{
    display: grid;
    background-color: rgb(226, 222, 222);
    border: 1px solid rgb(49, 49, 49);
    width: 600px;
    margin: 0 auto;
    border-radius: 3px;
}
#formulario-02{
    display: grid;
    background-color: #f7fcf7f7;
    padding: 10px;
    text-align: center;
    margin-bottom: 2rem;
}
input{
    width: 300px;
    display: grid;
    padding: 5px;
    text-align: center;
    margin: 10px;
    font-size: 1.6rem;
    border-color: rgb(217, 223, 223);
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
button{
    border: 0 none;
    border-radius: 2rem;
    color: rgb(17, 16, 16);
    background-color: #ececf3;
    width: 10rem;
    padding: 1rem 2rem;
    cursor: pointer;
    margin: 0 auto;
}

.erro{
    border-color: red;
}
.mensagem{
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
